body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, green, rgb(0, 0, 0));
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

div{
    margin-top: 10px;
    margin-bottom: 25px;
}

.contenedor_general{
    display: block;
    width: 40%;
    height: 75%;
    background-color: white;
    border-radius: 13px;
}

.nombre{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    width: 30%;
}

.divcoche{
    display: flex;
    justify-content: center;
    align-items: center;
}

.coche{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px auto;
}

#coche{
    width: 90%;
}

.nombre_coche{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 135%;
}

.pilotos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

#fernando{
    width: 20%;
}

#lance{
    width: 20%;
}