body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(147, 126, 224), rgb(32, 82, 83));
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

div{
    margin-top: 7px;
    margin-bottom: 10px;
}

.contenedor_general{
    display: block;
    width: 40%;
    height: 90%;
    background-color: white;
    border-radius: 13px;
}

.nombre{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    width: 18%;
}

.divcoche{
    display: flex;
    justify-content: center;
    align-items: center;
}

.coche{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px auto;
    width: 75%;
}

#coche{
    width: 90%;
    border-radius: 10px;
}

.nombre_coche{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 135%;
    margin: -30px auto;
}

.pilotos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.fernando{
    margin-right: 15px;
}

.fernando a{
    width: 60%;
}

.fernando p{
    display: flex;
    justify-content: center;
    font-size: 125%;
}

.lance{
    margin-left: 15px;
}

.lance img{
    
}

.lance p{
    display: flex;
    justify-content: center;
    font-size: 125%;
}